:root {
    --width-sm: 3rem;
    --height-sm: 3rem;
    --width-md: 5rem;
    --height-md: 5rem;
    --width-lg: 8rem;
    --height-lg: 8rem;
    --width-xl: 10rem;
    --height-xl: 10rem;
    --color-warning:rgb(214, 142, 8);
    --color-success:green;
    --color-error: red;
    --color-input-danger:red;
    --color-input-warning:rgb(151, 99, 3);
    --bg-regular-color:rgb(7, 164, 212);
   --bg-success-color:rgb(25, 160, 25);
   --bg-delete-color:rgb(209, 6, 6);
   --bg-share-color:  rgb(3, 67, 87);
   --bg-float-color: rgb(65, 197, 250);
   --bg-float-hover:rgb(24, 160, 214);
    --text-black-color: black;
}

.heading {
    text-align: center;
}

/* *****avatar***** */
.avatar-container {
    max-width: 100%;
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.avatar {
    width: 4rem;
}

.avatar--sm {
    width: var(--width-sm);
    height: var(--height-sm);
}

.avatar--md {
    width: var(--width-md);
    height: var(--height-md);
}

.avatar--lg {
    width: var(--width-lg);
    height: var(--height-lg);
}

.avatar--xl {
    width: var(--width-xl);
    height: var(--height-xl);
}

/* **avatar-rounded** */


.avatar-rounded {
    border-radius: 100%;
}

/* alert component started from here */

.alert-container {
    border: 1px solid black;
    padding: 2rem;
    min-width:15rem;
    max-width: 40rem;
    margin: auto;
}

.alert {
      display: flex;
      width: 25rem;
     padding: 1rem;
     margin-bottom: 1rem;
     align-items: center;
     flex-wrap: wrap;
     color: white;
}

.alert__img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.alert--error {
    background-color: rgba(236, 54, 22, 0.5);
}

.alert--success {
    background-color: rgba(29, 236, 22, 0.5);
}

.alert--info {
   background-color: rgba(65, 105, 225, 0.493);
}

.alert--warning {
   background-color: rgba(139, 65, 11, 0.514);
}

.alert--component-img {
     width: 50px;
}

.alert-composition {
    max-width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(38, 235, 31, 0.5);
    margin-bottom: 1.5rem;
}

.alert--heading {
    color: black;
}

.alert__component--text {
    color: white;
    text-align: center;
    width: 50%;
}

/* badge component started */

.badge {
    position: relative;
    display: inline-block;
    margin: 1rem;
}

.badge__text {
    position: absolute;
    background-color: red;
    padding: 5px;
    border-radius: 100%;
    color: white;
    top: -5px;
    right: -3px;
    min-width: 15px;
    min-height: 15px;
    text-align: center;
}

.badge--three-digit {
   font-size: 70%;
}

/*button started from here */

.btnTag {
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-weight: bold;
    font-size: medium;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btnTag--regular {
    background-color: var(--bg-regular-color);
    color: white;
   
}

.btnTag--success {
    background-color: var(--bg-success-color);
    color: black;
}

.btnTag--icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnTag--delete {
    background-color: var(--bg-delete-color);
    color: white;
}

.btnTag--share {
    background-color: var(--bg-share-color);
    color: white;
}

.btnTag__text {
    margin-left: 1px;
    margin-right: 1px;
}

.btnTag--float {
    background-color: var(--bg-float-color);
    border-radius: 100%;
    border: 0;
}

.btnTag--float:hover {
    background-color: var(--bg-float-hover) ;
}

.image--float {
    width: 4rem;
}

.btnTag--save {
    border: 2px solid rgb(86, 139, 5);
    color: rgb(86, 139, 5);
    background-color: rgb(29, 27, 27);
}

.btnTag--save:hover {
    background-color:rgb(86, 139, 5) ;
    color: white;
}

.btnTag--cancel {
    border: 2px solid rgba(190, 2, 2, 0.815);
    color: rgba(190, 2, 2, 0.815);
    background-color: rgb(29, 27, 27);
}

.btnTag--cancel:hover {
    background-color:rgba(190, 2, 2, 0.815) ;
    color: white;
}

/* **** Card **** */

.card {
    width: 20rem;
    border: 1px solid black;
    padding: 5px;
    border-radius: 1rem;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card__img {
    width: 100%;
    border-radius: 1rem;
}

.card .card__title-box {
    padding-left: 0.5rem;
    text-align: left;
}

.card__heading {
    margin-bottom: 0.5rem;
}

.card__sub-title {
    color: rgb(85, 83, 83);
}

.card--content {
    padding-left: 0.5rem;
}

.card .card__footer {
   display: flex;
   margin-bottom: 0.5rem;
   flex-wrap: wrap;
}

.btnTag--card {
    color: blue;
    border: none;
    padding: 0%;
    margin: 10px;
}

.card__btn-list {
    display: flex;
    flex-wrap: wrap;
}

.card--icon {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.icon__img {
    width: 45px;
    height: 45px;
}

.card--badge {
    margin: 0;
}

.card--over-lay {
    position: relative;
}

.card__title--over-lay {
    position: absolute;
    top: 35%;
    color: white;
}

.card--shadow {
    box-shadow: 5px 5px 3px rgb(155, 153, 153) ;
}

.card.card--horizontal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.card__img-horizontal {
    width: 35%;
    height: 7rem;
    margin-right: 2px;
}

.card__horizontal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__heading--horizontal {
    margin-left: 8px;
}

/* input tabs start from here  */

.input {
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(7, 164, 212);
    color: white;
    background-color:rgb(31, 28, 28) ;
}

.input:focus {
   background-color: rgba(65, 200, 241, 0.267);
}

.input--success {
    border: 1px solid rgb(6, 240, 6);
}

.input--success:focus {
    background-color: rgba(6, 240, 6, 0.267);
}

.input--danger {
    border: 1px solid var(--color-input-danger);
}

.input--danger:focus {
    background-color: rgba(255, 0, 0, 0.267);
}

.input--warning {
    border: 1px solid var(--color-input-warning);
}

.input--warning:focus {
    background-color:rgba(151, 98, 0, 0.267) ;
}

.inline-container {
    display: flex;
    flex-direction: column;
}

.inline {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid ;
    border-radius: 1rem;
    width: 13rem;
}

.inline--error {
    color: var(--color-error);
}

.inline--text {
   margin: 1rem;
   margin-top: 0;
   padding-left: 1rem;
}

.text-error {
    color: var(--color-error);
}

.text-success {
    color: var(--color-success);
}

.inline--success {
    border: 1px solid green;
}

.inline--warning {
    border: 1px solid rgb(214, 142, 8);
}

.text-warning {
    color: var(--color-warning) ;
}





/* **** navigation **** */

.nav-bar {
    background-color: rgb(0, 43, 124);
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid black ;
    color: white;
    align-items: center;
}

.nav-bar--list {
    list-style-type: none;
}

.nav-bar--list {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.nav-bar--item {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-bar--item:hover {
    background-color: rgb(32, 32, 32);
}

.nav-bar--link {
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
}

.nav__heading .nav-bar--link {
    align-items: flex-start;
    padding-left: 1rem;
}

.nav-bar--search {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.nav__input--search {
    padding: 10px;
    border-radius: 1rem;
    border: 3px solid black;
    min-width: 12rem;
   
}

.btn__nav--search {
    padding: 10px;
    background-color: black;
    margin: 10px;
    color: white;
}

/* responsive image starts from here */
.img--responsive {
    width: 100%;
}

.reponsive__image--contianer {
    width: 12rem;
}

.img--rounded {
    border-radius: 100%;
}

/* toast start from here */

#snackbar {
    visibility: hidden;
    min-width: 200px;
    color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: green;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* text utilities start here */

.heading-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.heading--one {
    font-size: 3rem;
    line-height: 4rem;
}

.heading--two {
    font-size: 2rem;
    line-height: 2.5rem;
}

.heading--three {
    font-size: 1.5rem;
    line-height: 2rem;
}

.heading--four {
    font-size: 1rem;
    line-height: 1.5rem;
}

.heading--gray {
    color: gray;
}

.heading-container--center{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* list css starts from here  */

.list {
    border: 1px solid var(--primary-color);
    /* margin: 0; */
    padding: 1.5rem;
}

.non-bullet {
   list-style: none;
}

.list--simple {
   font-size: large;
   padding: 8px 1rem;
   margin: 5px;
   background-color: black;
}

.list--stacked {
   font-size: large;
   padding: 8px 1rem;
   background-color: black;
   border-bottom: 1px solid var(--primary-color);
}

/* modal component */

.modal--container {
    background-color: white;
    color: black;
    position: static;
   border-radius: 8px;
   padding: 8px 1rem;
}

.modal-content {
  padding: 1rem 2rem;
  margin:  8px 1rem;
}

.modal-cross {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.img-clear {
   height: 2.5rem;
}

.btn-clear {
  padding: 0;
  border: none
}

.btn-modal {
  padding: 8px 1rem;
  font-size: large;
}

.modal-wrapper {
  position: fixed;
  z-index: 2;
  top: 50%;
  display: none;
}

.rating__img {
  height: 2rem;
}

.grid-two {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-black-color);
    row-gap: 10px;
    column-gap: 10px;
}

.grid--item {
     height: 100px;
     background-color: rgba(211, 37, 25, 0.863);
}

.grid-three {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    color: var(--text-black-color);
    row-gap: 10px;
    column-gap: 10px;
}
