:root {
    --primary-color: white ;
    --background-color: rgb(29, 27, 27);
    --secondary-color: #6970e7;
    --text-color: #626691;
    --backgroundTwo-color: rgb(34, 32, 32); 

}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0%;
    padding: 0%;
}

.navbar {
    position: fixed;
    background-color: rgb(34, 32, 32) ;
    top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.heading__link {
    text-decoration: none;
    color: var(--secondary-color);
     padding: 1rem;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 10vw;
}

.nav__link {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    color: var(--secondary-color);
}

.nav__link:hover {
    background-color: #494ea70e;
    color: white;
    text-decoration: underline;
}

.space-block {
    height: 8rem;
}

.container-header {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 390px) {
    .space-block {
        height: 14rem;
    }
}

.content__title {
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
    .content__title {
        font-size: 2rem;
    }
}

.title-span {
    color: var(--secondary-color);
}

.content__text {
    font-size: large;
    color: var(--text-color);
    width: 90%;
    margin: auto;
   margin-bottom: 1rem;
}

.btn {
    padding: 1rem 1.5rem;
    font-size: large;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    margin: 5px;
    font-weight: bold;
    border-radius: 3px;
}

.btn:hover {
    background-color: #555ab6;
}

.btn--secondary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn--secondary:hover {
    background-color: rgb(199, 196, 196);
}

.container {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-intro {
    width: 70%;
    background-color: var(--backgroundTwo-color);
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.container__heading {
    font-size: 1.5rem;
}

.text {
    color: var(--text-color);
    text-align: center;
}

.container--x {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   margin: auto;
   padding: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width:20rem;
    border: 1px solid white;
    margin: 1rem;
    padding: 10px;
    align-items: center;
    flex-grow: 1;
}

.content__img {
    width: 90%;
}
